<% include partials/head %>
	<% include partials/header %>

		<div id="js_mainPanel" class="viewPanel">

			<div class="topbar row">
				<div class="mobile_twoColumns left">
					<button id="js_menuButton" class="button default">
						<i class="icon-menu2" aria-hidden="true"></i>
						<span class="offscreen">Menu</span>
					</button>
				</div>
				<div class="mobile_twoColumns center">
					<img class="logo" src="/img/logo_paypal.png">
				</div>
				<div class="mobile_twoColumns right"></div>
			</div>

			<div class="content">
				<h2>Hello, <%= user.firstName %>!</h2>

				<label>Your Available Balance:</label>
				<div class="balance">
					<%= balance %>
				</div>

				<hr>

				<h3>What would you like to do?</h3>

				<div class="row center actions">
					<div class="mobile_threeColumns center">
						<a href="/mobile/send-money"
						   class="button buttonLarge secondary fullWidth">
							Send Money
						</a>
					</div><div
						class="mobile_threeColumns center">
						<a href="/mobile/transactions"
						   class="button buttonLarge secondary fullWidth">
							Transactions
						</a>
					</div>
				</div>
			</div>
		</div>

<% include partials/footer %>