body, html {
	position: relative;
	height: 100%;
	overflow-x: hidden;
}
h1, h2, h3 h4, h5, h6 {
	font-family: $sansFontFamily;
}
h1, h2 {
	font-weight: 300;
}
.rowMain {
	padding: $baseLineHeight;
	position: relative;
	left: 0;
	margin: 0;
	min-height: 100%;
}
.alertBox {
	margin: $baseLineHeight 0 0;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
td > a {
	text-decoration: none;
	color: inherit;
}

// Nav Drawer Styles
.menuOpen {
	left: 60%;
}
.navMenu {
	position: fixed;
	width: 100%;
	height: 100%;
	background: $blue;
	z-index: 0;

	h2 {
		color: $white;
		padding-left: $baseLineHeight / 2;
		border-bottom: 1px solid darken($blue, 5%);
	}
}
.navItem a {
	color: $white;
	font-weight: 700;
	display: block;
	line-height: 1.5em;

	&:hover {
		background: rgba(0, 0, 0, 0.2);
		@include single-transition(background, 0.25s);
	}
}

// Topbar Styles
.topbar {

	.button {
		margin: 0;
	}
	.logo {
		padding-top: $baseLineHeight / 2;
	}
}

// Home Styles
.balance {
	color: $blue;
	font-size: 5em;
	font-weight: 300;
	line-height: 1em;
}

// Send Money Styles
.inputPrefixMini {

	.addOn {
		width: 10%;
	}
	input {
		width: 60%;
		margin: 0;
	}
	select {
		display: inline-block;
		width: 28.5%;
		margin: 0;
	}
}
.actionRow {
	padding-top: $baseLineHeight * 2;
}
.cancel {
	background: none;
	border: none;
	color: $gray;
}

// Angular Specific Stylings
input.ng-pristine, textarea.ng-pristine {
	background: $inputBgColor !important;
	border-color: $inputBorderColor !important;
}
select.ng-pristine {
	border-color: $inputBorderColor !important;
}

// Angular Animations
.forward, .viewPanel {
	position: fixed;
	background: $bodyBackground;
	left: 0;
	top: 0;
	padding-top: $baseLineHeight;
	bottom: 0;
	right: 0;
	min-width: 100%;
	outline: 1px solid $grayLight;
}
.viewPanel.menuOpen,
.viewPanel.menuClose{
	transition: 0.2s;
}
.viewPanel.menuClose {
	left: 0%;
}
.viewPanel.menuOpen {
	left: 60%;
}
.forward.ng-enter,
.forward.ng-leave {
	transition: 0.2s;
}
.forward.ng-enter {
	left: 100%;
	right: -100%;
}
.forward.ng-enter.ng-enter-active {
	left: 0;
	right: 0;
}
.forward.ng-leave {
	left: 0;
	right: 0;
}
.forward.ng-leave.ng-leave-active {
	left: -100%;
	right: 100%;
}
.backward.ng-enter,
.backward.ng-leave {
	transition: 0.2s;
}
.backward.ng-enter {
	left: -100%;
	right: 100%;
}
.backward.ng-enter.ng-enter-active {
	left: 0;
	right: 0;
}
.backward.ng-leave {
	left: 0;
	right: 0;
}
.backward.ng-leave.ng-leave-active {
	left: 100%;
	right: -100%;
}
