body, html {
	position: relative;
	height: 100%;
	overflow-x: hidden;
}
h1, h2, h3 h4, h5, h6 {
	font-family: $sansFontFamily;
}
h1, h2 {
	font-weight: 300;
}
.rowMain {
	padding: $baseLineHeight;
	position: relative;
	left: 0;
	margin: 0;
	min-height: 100%;
}
.offscreen {
	position: fixed;
	top: -50em;
}
.alertBox {
	margin: $baseLineHeight 0 0;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
td > a {
	text-decoration: none;
	color: inherit;
}
.actions .button {
	font-weight: 700;
}
.backButton {
	font-weight: 700;
	color: $gray;
}
.content {
	overflow-y: auto;
	position: absolute;
	top: 4em;
	bottom: 0;
	right: 0;
	left: 0;
	padding: $baseLineHeight;
}

// Nav Drawer Styles
.menuOpen {
	left: 60%;
}
.navMenu {
	position: fixed;
	width: 100%;
	height: 100%;
	background: $gray;
	z-index: 0;

	h2 {
		color: $white;
		padding-left: $baseLineHeight / 2;
		border-bottom: 1px solid darken($gray, 5%);
	}
}
.navItem a {
	color: $white;
	font-weight: 700;
	display: block;
	line-height: 1.5em;

	i {
		display: inline-block;
		font-size: 1.2em;
		width: 2em;
		text-align: center;
	}

	&:hover {
		background: rgba(0, 0, 0, 0.2);
		@include single-transition(background, 0.1s);
	}
}

// Topbar Styles
.topbar {
	height: 4em;
	padding: ($baseLineHeight / 2) 0;
	margin: 0;
	border-bottom: 1px solid $grayLight;
	background: $bodyBackground;
	position: fixed;
	z-index: 1;
	right: 0;
	left: 0;
	min-width: 100%;
	@include translateZ(0);

	.button {
		margin: 0;

		i {
			color: $gray;
		}
	}
	.logo {
		padding-top: $baseLineHeight / 2;
	}
}
.icon-arrow-left9 {
	font-size: 1.5em;
	margin-left: -0.3em;
	vertical-align: -0.2em;
	display: inline-block;
}
.pageTitle {
	font-size: 1.5em;
	font-weight: 700;
	color: $blue;
}

// Home Styles
.balance {
	color: $blue;
	font-size: 5em;
	font-weight: 300;
	line-height: 1em;
}

// Send Money Styles
.inputPrefixMini {

	.addOn {
		width: 10%;
	}
	input {
		width: 60%;
		margin: 0;
	}
	select {
		display: inline-block;
		width: 28.5%;
		margin: 0;
		vertical-align: top;
	}
}
.icon-spinner {
	position: absolute;
	z-index: 99;
	top: 50%;
	left: 50%;
	font-size:4em;
	height: 1em;
	line-height: 1;
	margin: -0.5em 0 0 -0.5em;
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
	color: $grayLighter;
	text-shadow: 0 0 .25em rgba(255,255,255, .3);
	@include translateZ(0);
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0);
	}
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-o-keyframes spin {
	0% {
		-o-transform: rotate(0);
	}
	100% {
		-o-transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

// Transaction Styles
.transactions {
	padding: 0;
}
.sendActions {
	padding-top: $baseLineHeight * 2;
}
.cancel {
	background: none;
	border: none;
	color: $gray;
}

// Angular Specific Stylings
input.ng-pristine, textarea.ng-pristine {
	background: $inputBgColor !important;
	border-color: $inputBorderColor !important;
}
select.ng-pristine {
	border-color: $inputBorderColor !important;
}

// Angular Animations
.forward, .viewPanel {
	position: fixed;
	background: $bodyBackground;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	min-width: 100%;
	outline: 1px solid $grayDark;
}
.viewPanel.menuOpen,
.viewPanel.menuClose,
.viewPanel.menuOpen .topbar,
.viewPanel.menuClose .topbar {
	transition: 0.1s;
}
.viewPanel.menuClose,
.viewPanel.menuClose .topbar {
	left: 0%;
}
.viewPanel.menuOpen,
.viewPanel.menuOpen .topbar {
	left: 60%;
}
.forward.ng-enter,
.forward.ng-leave {
	transition: 0.1s;
}
.forward.ng-enter {
	left: 100%;
	right: -100%;
}
.forward.ng-enter.ng-enter-active {
	left: 0;
	right: 0;
}
.forward.ng-leave {
	left: 0;
	right: 0;
}
.forward.ng-leave.ng-leave-active {
	left: -100%;
	right: 100%;
}
.backward.ng-enter,
.backward.ng-leave {
	transition: 0.1s;
}
.backward.ng-enter {
	left: -100%;
	right: 100%;
}
.backward.ng-enter.ng-enter-active {
	left: 0;
	right: 0;
}
.backward.ng-leave {
	left: 0;
	right: 0;
}
.backward.ng-leave.ng-leave-active {
	left: 100%;
	right: -100%;
}

@media (max-width: 480px) {

	html {
		font-size: $smallFontSize;
	}
}

@media (max-width: 400px) {

	.actions div {
		width: 100%;
	}
}

@media (max-width: 350px) {

	.actionTable th, .actionTable td {
		padding: $baseLineHeight / 2;
	}
}