	</body>

	<!-- If user === false, then this is the login page.
		 therefore load this for caching only -->
	<% if (!user) { %>
		<script type="text/javascript"
				src="/vendor-bower/angular/angular.min.js"></script>
	<% } %>
</html>
