<nav class="navMenu">
	<h2>Main Menu</h2>
	<ul>
		<li class="navItem">
			<a href="/mobile">
				<i class="icon-home" aria-hidden="true"></i>
				Home
			</a>
		</li>
		<li class="navItem">
			<a href="/mobile/send-money">
				<i class="icon-mail-send" aria-hidden="true"></i>
				Send Money
			</a>
		</li>
		<li class="navItem">
			<a href="/mobile/transactions">
				<i class="icon-credit" aria-hidden="true"></i>
				View Transations
			</a>
		</li>
		<li class="navItem">
			<a href="https://github.com/cerebrl/take-home">
				<i class="icon-github3" aria-hidden="true"></i>
				Github
			</a>
		</li>
		<li class="navItem">
			<a href="/logout">
				<i class="icon-keyhole" aria-hidden="true"></i>
				Logout
			</a>
		</li>
	</ul>
</nav>