<nav class="navMenu">
	<h2>Main Navigation</h2>
	<ul>
		<li class="navItem"><a href="/mobile">Home</a></li>
		<li class="navItem"><a href="/mobile/send-money">Send Money</a></li>
		<li class="navItem"><a href="/mobile/transactions">Transation History</a></li>
		<li class="navItem"><a href="/mobile/profile">Profile</a></li>
		<li class="navItem"> <a href="/logout">Logout</a></li>
	</ul>
</nav>