<nav>
	<ul class="">
		<li class="navItem"><a href="/send-money">Send Money</a></li>
		<li class="navItem"><a href="/transactions">Transation History</a></li>
		<li class="navItem"><a href="/profile">Profile</a></li>
		<li class="navItem"> <a href="/logout">Logout</a></li>
	</ul>
</nav>