<nav class="navMenu">
	<h2>Main Navigation</h2>
	<ul>
		<li class="navItem"><a href="/home">Home</a></li>
		<li class="navItem"><a href="/send-money">Send Money</a></li>
		<li class="navItem"><a href="/transactions">Transation History</a></li>
		<li class="navItem"><a href="/profile">Profile</a></li>
		<li class="navItem"> <a href="/logout">Logout</a></li>
	</ul>
</nav>