<% include ../partials/head %>
	<% include ../partials/header %>

		<script type="text/javascript">

			angular.module('TH').factory('sectionData', function () {

				'use strict';

				var data = {
						type: 'send'
					};

				data.collection = [];

				return data;
			});
		</script>

		<div data-ng-view data-ng-class="animate.direction"
			 id="js_mainPanel" class="viewPanel"></div>

		<script id="sendForm" type="template/angular">

				<div class="topbar row">
					<div class="mobile_oneColumns left">
						<button id="js_menuButton" class="button default">Menu</button>
					</div>
					<div class="mobile_fourColumns center">
						<h1 class="pageTitle">Send Money</h1>
					</div>
					<div class="mobile_oneColumns right"></div>
				</div>

				<form name="sendMoneyForm" class="content">

					<label for="sendTo">Send to:</label>
					<input id="sendTo" type="email" name="Send_To" data-ng-model="send.to"
						   placeholder="john@mail.com" required>

					<label for="amount">Amount:</label>
					<div class="inputPrefix inputPrefixMini">
						<span class="addOn" data-ng-bind="currencySymbol">
							$
						</span><input
							id="amount" type="text" name="Amount_Field" placeholder="0.00"
							   data-ng-model="send.amount" required>

						<select id="currency" data-ng-model="send.currency"
								data-ng-change="changeSymbol()" name="currency">
							<option value="USD" selected>USD</option>
							<option value="EUR">EUR</option>
							<option value="JPY">JPY</option>
						</select>
					</div>

					<label for="message">Message (optional):</label>
					<textarea id="message" name="Message_Field" data-ng-model="send.message"
							  placeholder=""></textarea>

					<h4>What is this for?</h4>
					<label for="friends_family">
						<input id="friends_family" data-ng-model="send.forFriends"
							   data-ng-value="true" type="radio" name="reason" required>
						Sending money to friends or family
					</label>
					<label for="goods_service">
						<input id="goods_service" data-ng-model="send.forFriends"
							   type="radio" data-ng-value="false" name="reason" required>
						Paying for goods or services
					</label>

					<div class="alertBox alert ng-cloak" data-ng-show="formMessage">
						<p data-ng-bind="formMessage"></p>
					</div>

					<div class="row actionRow">
						<div class="mobile_threeColumns center">
							<button class="button cancel buttonLarge" type="reset"
									data-ng-click="clearForm()">
								Cancel
							</button>
						</div>
						<div class="mobile_threeColumns center">
							<button class="button success buttonLarge" type="submit"
									data-ng-click="sendMoney()">
								Send Money
							</button>
						</div>
					</div>
					<div id="loadingGraphic" class="spinner ng-cloak" data-ng-show="showSpinner">
						<i class="icon-spinner"></i>
					</div>
					<div id="modalBackground" data-ng-class="sending"></div>
				</form>
		</script>

		<script id="sentSuccess" type="template/angular">

				<div class="topbar row">
					<div class="mobile_twoColumns left">
						<a href="#" class="button default"
						   data-ng-click="setDirection('backward')">Back</a>
					</div>
					<div class="mobile_twoColumns center">
						<img class="logo" src="/img/logo_paypal.png">
					</div>
					<div class="mobile_twoColumns right"></div>
				</div>

				<div class="content">
					<h2>Success!</h2>
					<h3>Your money has been successfully sent.</h3>
				</div>
		</script>

<% include ../partials/footer %>